@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

* {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  --blue-color: #1576d8;
  --text-color: #183b56;
  --text-light-color: #5a7184;
  --bg-color: #f7f8f9;
  --red-color: #fc5a5a;
  --yellow-color: #faad13;
  --green-color: #36b37e;
  --orange-color: #e95432;

  color: var(--text-color);
}

.logo {
  font-family: "Days One", sans-serif;
  font-size: 2rem;
  position: relative;
  background: -webkit-linear-gradient(#244a71, rgb(16, 36, 63));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo span {
  position: absolute;
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  background-color: var(--blue-color);
  top: 40%;
  right: -11%;
}

.container {
  max-width: 70.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.app-header {
  background-color: var(--bg-color);
}

.app-header-container {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header-right {
  display: flex;
  gap: 2.5rem;
  transition: transform 0.2s ease-in-out;
}

.burger,
.close-menu {
  display: none;
  background-color: unset;
  border: unset;
  font-size: 1.5rem;
}

.close-menu {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.app-header-right nav {
  display: flex;
  align-items: center;
}

.app-header-right ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 2.5rem;
}

.app-header-right ul li a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 600;
}

.get-started {
  padding: 0.75rem 1.5rem;
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
  background-color: unset;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.hero {
  background-color: var(--bg-color);
  padding-bottom: 2rem;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.hero-top-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-top-left .bar {
  width: 7.3rem;
  height: 1rem;
  background-color: var(--red-color);
}
.hero-top-left .hero-heading {
  font-size: 3.5rem;
}

ul.hero-pros {
  list-style: none;
  display: flex;
  gap: 1.25rem 3rem;
  flex-wrap: wrap;
}
ul.hero-pros li::before {
  content: "•";
  font-family: sans-serif;
  color: var(--yellow-color);
  font-weight: bolder;
  font-size: 1.4rem;
  display: inline-block;
  width: 1em;
}

ul.hero-pros li {
  color: var(--text-light-color);
  font-size: 18px;
}

.hero-join {
  border-radius: 1rem;
  background-color: #fff;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
}

.hero-join input,
.hero-join button {
  border: unset;
}

.hero-join input {
  flex: 1;
}

.hero-join button {
  font-weight: bold;
  color: #fff;
  padding: 0.7rem 1.2rem;
  background-color: var(--green-color);
  border-radius: 0.4rem;
}

.hero-image {
  max-width: 24.5rem;
}
.hero-image img {
  width: 100%;
}

.recommendation-container {
  margin: 5rem auto;
}

.recommendation-title {
  text-align: center;
  margin-bottom: 1rem;
}

.recommendation-title h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.recommendation-title p {
  font-family: "Open Sans", sans-serif;
}

.recommendation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1.875rem;
}

.recommended-card {
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.recommended-card:not(.special):hover {
  background-color: #36b37f27;
}

.recommended-card:not(.special):hover .buy {
  background-color: var(--green-color);
  font-weight: 700;
  color: #fff;
}

.recommended-card .like {
  color: #5a7184;
  background-color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.recommended-card .img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1rem;
  background-color: var(--red-color);
  margin-bottom: 2rem;
}

.recommended-card .name {
  text-align: center;
}
.recommended-card .price {
  display: flex;
  gap: 0.5rem;
}

.recommended-card .price .new {
  font-weight: bold;
}

.recommended-card .price .old {
  opacity: 0.5;
  text-decoration: line-through;
}

.recommended-card .buy {
  width: 100%;
  border-radius: 0.5rem;
  border: 0;
  padding: 14px 0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.special {
  background-color: var(--orange-color);
}
.special * {
  color: #fff;
}
.special .time span {
  background-color: #da765f8a;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.special .img {
  background-color: #fff;
}

.special .buy {
  background-color: #fff;
  color: var(--orange-color);
  font-weight: bold;
}
@media only screen and (max-width: 320px) {
  /* .container {
    margin: 1.5rem;
  } */
}

@media only screen and (max-width: 768px) {
  .burger,
  .close-menu {
    display: block;
  }

  .app-header {
    min-height: 5rem;
  }

  .app-header-right {
    position: absolute;
    inset: 0;
    transform: translateY(-100%);
    background-color: var(--bg-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .open-menu {
    transform: translateY(0%);
  }

  .app-header-right ul {
    flex-direction: column;
    align-items: center;
  }

  .hero-top,
  .hero-pros,
  .hero-top-left {
    flex-direction: column;
    align-items: center;
  }

  .hero-top {
    gap: 2rem;
  }

  .hero-top-left .hero-heading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  /* .container {
    min-width: 71.25rem;
  } */
}
